<% include ../partials/header %>

<div style padding-top: 50px>
    <div class="jumbotron" align="center">
        <h1 class="first" >WELCOME TO MY PROJECT</h1>
        <h2 class="lead" >SOFTWARE ENGINEERING</h2>
        
    </div>
</div>

<% include ../partials/footer %>