<% include ../partials/header %>


    <div class="jumbotron" align="center" style="background-color : #FFFFE0">
        <h1 class = "welcome" >WELCOME TO MY PROJECT</h1>
        <h2 class = "subject">140-390 WORKSHOP IN IT III(FULL STACK)</h2>
        <h2 class = "lead" >SOFTWARE ENGINEERING</h2>
        <p class="aboutme">
            <a class="btn btn-primary btn-lg" href="/about" role="button">ABOUT ME</a>
        </p>
    </div>


<% include ../partials/footer %>