<% include ../partials/header %>

 <br>
 <h2>Sorter By A-Z</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>E-mail</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody id="myTable">
     <% purchases.forEach(function(purchases){ %>
        <tr>
            <td scope="row"><%= purchases.id %></td>
            <td><%= purchases.email %></td>
            <td><%= purchases.password %></td>
        </tr>
      <% }); %>
    </tbody>
</table>






  <% include ../partials/footer %>